$app-direction: multi;
@import "ionic.globals";

$text-color:        #000;
$background-color:  #fff;

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #df186d,
  light:      #f4f4f4,
  dark:       #222,
  shadow:     #bf4080,
  shadowlite: #f9ebf2,


  //color options
  darkpink:   #bf4080,
  darkpinklite: #f9ebf2,

  skyblue:    #50b7c0,
  skybluelite:#daeff1,

  red:        #f44336,
  redlite:    #fdcece,

  blue:       #3b5998,
  bluelite:   #dae1f1,
  

  //customise header color here
  header:     #ffffff,

  //customise icon color here
  button-color: #ef3d63,

  //customise icon color here
  icon-color: #535766,

  //customise text color here
  side-heading-color:  #f15362

);

  $shadowlite: #f9ebf2;
  $shadow: #bf4080;

  //customise header color here
  $header:     #ea2330;

  //Menu Icon colors
  $button-color: #ef3d63;

  //customise buy now button color here
  $add-to-cart: #535766;

  //customise add to button color here
  $add-to-cart: #535766;

  //customise button color here
  $icon-color: #535766;

  //customise toggle-button color here
  $toggle-button-color: #f15362;

  //customise text color here
  $side-heading-color:  #f15362;


  $menu-background-color: #fff;
  $menu-text-color: #111111;
  $menu-border-color: #dcdcdc;


@import "ionic.theme.default";


$ionicons-font-path: "../assets/fonts";
@import "ionicons";
