page-survey-details {
    button#ha{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
    }
}
